div.editor_toolbar
  a
    float: left
    width: 16px
    height: 16px
    margin: 5px
    background-repeat: no-repeat

  span
    display: none


.editor_toolbar
  .button
    background-image: url('../images/icons/exclamation.png')
    
  .bold
    background-image: url('../images/icons/text_bold.png')

  .italic
    background-image: url('../images/icons/text_italic.png')

  .underline
    background-image: url('../images/icons/text_underline.png')

  .strikethrough
    background-image: url('../images/icons/text_strikethrough.png')

  .justifyleft
    background-image: url('../images/icons/text_align_left.png')

  .justifycenter
    background-image: url('../images/icons/text_align_center.png')

  .justifyright
    background-image: url('../images/icons/text_align_right.png')

  .undo
    background-image: url('../images/icons/arrow_undo.png')

  .redo
    background-image: url('../images/icons/arrow_redo.png')

  .insertorderedlist
    background-image: url('../images/icons/text_list_numbers.png')

  .insertunorderedlist
    background-image: url('../images/icons/text_list_bullets.png')

  .link
    background-image: url('../images/icons/link.png')

  .image
    background-image: url('../images/icons/image.png')

  .html
    background-image: url('../images/icons/page_code.png')
  
  .h1
    background-image: url('../images/icons/text_heading_1.png')

  .h2
    background-image: url('../images/icons/text_heading_2.png')
  
  .h3
    background-image: url('../images/icons/text_heading_3.png')
  
  .h4
    background-image: url('../images/icons/text_heading_4.png')
  
  .h5
    background-image: url('../images/icons/text_heading_5.png')
  
  .h6
    background-image: url('../images/icons/text_heading_6.png')
  
  .p
    background-image: url('../images/icons/cancel.png')
  
  
iframe.editor
  border: 1px solid #999
  height: 400px
  width: 100%
